/* Variables */
:root {
  --Very-light-grey--: #f2f2f2;
  --p-color--: #ffffffbf;
  --Bright-orange--: #e38826;
  --Dark-cyan--: #006970;
  --Very-dark-cyan--: #004241;
  --margin-b--: 50px;
}

/* Global Rules */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lexend Deca", sans-serif;
}

/* Card */

.container {
  background: var(--Very-light-grey--);
  width: 100%;
  height: 100vh;
  padding: 100px 20px;
}

.card {
  max-width: 1080px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.card .item {
  padding: 40px 50px;
  display: flex;
  flex-direction: column;
}

.card .sedans {
  background: var(--Bright-orange--);
  border-radius: 10px 0 0 10px;
}

.card .suvs {
  background: var(--Dark-cyan--);
}
.card .luxury {
  background: var(--Very-dark-cyan--);
  border-radius: 0 10px 10px 0;
}

.card .item img {
  width: 50px;
  margin-bottom: 30px;
}

.card .item h2 {
  font-family: "Big Shoulders Display", cursive;
  margin-bottom: 30px;
  color: var(--Very-light-grey--);
  font-size: 25px;
}

.card .item p {
  color: var(--p-color--);
  width: 250px;
  margin-bottom: 90px;
  font-size: 15px;
}

.card .item a {
  background: var(--Very-light-grey--);
  display: inline-block;
  width: fit-content;
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 50px;
}

.card .sedans a {
  color: var(--Bright-orange--);
}
.card .suvs a {
  color: var(--Dark-cyan--);
}
.card .luxury a {
  color: var(--Very-dark-cyan--);
}

/* Responsive design */

@media (max-width: 380px) {
  .container {
    padding: 0;
  }
}

@media (max-width: 1089px) {
  .card .sedans {
    border-radius: 10px 0 0 10px;
  }

  .card .suvs {
    border-radius: 0 10px 10px 0;
  }
  .card .luxury {
    background: var(--Very-dark-cyan--);
    border-radius: 0 0 10px 10px;
  }
}

@media (max-width: 389px) {
  .card {
    grid-template-columns: calc(1fr - 40px);
  }

  .card .sedans {
    border-radius: 10px 10px 0 0;
  }

  .card .suvs {
    border-radius: 0 0 0 0;
  }
  .card .luxury {
    background: var(--Very-dark-cyan--);
    border-radius: 0 0 10px 10px;
  }
}
