/* Variables */
:root {
  --Very-light-grey--: #f2f2f2;
  --p-color--: #ffffffbf;
  --Bright-orange--: #e38826;
  --Dark-cyan--: #006970;
  --Very-dark-cyan--: #004241;
  --margin-b--: 50px;
}

/* Global Rules */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lexend Deca", sans-serif;
  background-color: var(--Very-light-grey--);
}

/* Cards */
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  padding: 45px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
}

.card.sedans,
.card.sedans a:hover {
  background-color: var(--Bright-orange--);
}
.card.suvs,
.card.suvs a:hover {
  background-color: var(--Dark-cyan--);
}
.card.luxury,
.card.luxury a:hover {
  background-color: var(--Very-dark-cyan--);
}

.card img {
  width: 50px;
}

.card h2 {
  font-family: "Big Shoulders Text", cursive;
  color: var(--Very-light-grey--);
  font-size: 25px;
  font-weight: 700;
}

.card p {
  width: 250px;
  color: var(--p-color--);
  font-size: 15px;
  margin-bottom: 70px;
}

.card.sedans a {
  color: var(--Bright-orange--);
}

.card.suvs a {
  color: var(--Dark-cyan--);
}

.card.luxury a {
  color: var(--Very-dark-cyan--);
}

.card a {
  background: var(--Very-light-grey--);
  width: fit-content;
  padding: 10px 30px;
  text-decoration: none;
  border: 2px solid var(--Very-light-grey--);
  border-radius: 50px;
  transition: 0.5s;
}

.card a:hover {
  color: var(--Very-light-grey--);
}

/* Responsibe Design */
@media (max-width: 960px) {
  .container {
    flex-direction: column;
    justify-content: flex-start;
  }
}
